/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
*{
  text-align: center;
  margin-top: 20px;
  background-color: beige;
}

img {
  width: 50%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
